body{
    overflow: hidden;
    margin-left: 0px;
    margin-top: 0px;
}
#background{
    width: 1920px;
    height: 970px;
}
#pokemon1, #pokemon2{
    width: 250px;
    height: 250px;
    position: absolute;
}
#pokemon1{
    bottom: 150px;
    left: 400px;
}
#pokemon2{
    top: 250px;
    right: 350px;
}
.taillePok{
    width: 250px;
    text-align: center;
}
#choixAttaque{
    border: solid;
    border-color: blue;
    border-radius: 20px;
    border-width: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 600px;
    height: 200px;
}
#choix{
    width: 600px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    opacity: 80%;
}
#choix td{
    text-align: center;
    width: 50%;
    font-size: 30px;
}
#dialogue{
    border: solid;
    border-color: orange;
    border-radius: 20px;
    border-width: 10px;
    position: absolute;
    bottom: 5px;
    right: 625px;
    width: 500px;
    height: 200px;
    background-color: gray;
    color: white;
    font-size: 30px;
    text-align: center;
}
#statPok1 table, #statPok2 table{
    width: 300px;
    height: 150px;
}
#statPok1 td, #statPok2 td{
    text-align: center;
    width: 60%;
    font-size: 20px
}
#statPok1{
    background-color: beige;
    border-radius: 20px 10px;
    width: 300px;
    height: 150px;
    position: absolute;
    right: 900px;
    bottom: 300px;
}
#statPok2{
    background-color: beige;
    border-radius: 20px 10px;
    width: 300px;
    height: 150px;
    position: absolute;
    right: 700px;
    top: 200px;
}
#dialogue1{
    background-color: beige;
    border-radius: 20px 10px;
    width: 300px;
    height: 50px;
    position: absolute;
    right: 900px;
    bottom: 240px;
}
#dialogue2{
    background-color: beige;
    border-radius: 20px 10px;
    width: 300px;
    height: 50px;
    position: absolute;
    right: 700px;
    top: 360px;
}
#dialogue1 p{
    margin: 14px;
    text-align: center;
    font-size: 20px;
}
#dialogue2 p{
    margin: 14px;
    text-align: center;
    font-size: 20px;
}
progress{
    background-color: grey;
}
.choix:hover{
    color: red;
    background-color: beige;
    cursor: default;
}
.attaqueHover:hover{
    color: red;
    background-color: beige;
    cursor: default;
}
#menuAttaque{
    border: solid;
    border-color: blue;
    border-radius: 20px;
    border-width: 10px;
    position: absolute;
    bottom: 225px;
    right: 5px;
    width: 600px;
    height: 200px;
    display: none;
}
/*
progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: blue;
}
*/









