/* 

CSS de la page index

*/


/*
      www.OnlineWebFonts.Com
      You must credit the author Copy this link on your web
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Pokemon";
    src: url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); /* iOS 4.1- */
}
html {
    background-color: black;
    font-family: Pokemon;
    color: #ffcb05;
    text-shadow: -1.3px -1.3px 0 #3c5aa6, 1.3px -1.3px 0 #3c5aa6, -1.3px 1.3px 0 #3c5aa6, 1.3px 1.3px 0 #3c5aa6;
    font-size: 1.5em;
    letter-spacing: 2.5px;
}
header{
    margin-bottom: none;
}
h1{
    font-size: 250%;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 0px;
    border: 0px;
    padding-left: 10%;
    letter-spacing: 10px;
}
header img {
    float: right;
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 10%;
}
a {
    text-decoration: none;
    color: #ffcb05;
    text-shadow: -1.3px -1.3px 0 #3c5aa6, 1.3px -1.3px 0 #3c5aa6, -1.3px 1.3px 0 #3c5aa6, 1.3px 1.3px 0 #3c5aa6;
    font-size: 1em;
    border-bottom: yellow solid 1.2px;
    padding: 1px;
}

#speeches{
    position: absolute;
    left: 7%;
    top: 20%;
    bottom: 10%;
}
p, ul {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}
#textChanger{
    position: fixed;
    bottom: 5%;
    right: 0%;
}
section input{
    font-family: Pokemon;
    letter-spacing: 2.5px;
    font-size: 0.7em;
    float: right;
    clear: both;
    margin-right: 20%;
    color: #ffcb05;
    background-color: black;
    text-shadow: -1.3px -1.3px 0 #3c5aa6, 1.3px -1.3px 0 #3c5aa6, -1.3px 1.3px 0 #3c5aa6, 1.3px 1.3px 0 #3c5aa6;
    border-bottom: solid 3px #ffcb05;
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-top: solid 3px #ffcb05;
}
input[type=button]:hover {
  font-family: Pokemon;
    letter-spacing: 2.5px;
    font-size: 0.7em;
    color: #3c5aa6;  
    background-color: black;
    text-shadow: -1.3px -1.3px 0 #ffcb05, 1.3px -1.3px 0 #ffcb05, -1.3px 1.3px 0 #ffcb05, 1.3px 1.3px 0 #ffcb05;
    border-bottom: solid 3px #3c5aa6;
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-top: solid 3px #3c5aa6;
}

/* 

CSS de la page inscription

*/


form{
    position: absolute;
    left: 6%;
}
#titre{
    position: relative;
    right: 17%
}
#buttonInsc {
    padding: 40px;
    position: absolute;
    left: 11%;
}

input[type=radio] {
		margin-left : 10px;
}

input[type=button]:hover {
	color: #3c5aa6;
	background-color: black;
	text-shadow: -1.3px -1.3px 0 #ffcb05, 1.3px -1.3px 0 #ffcb05, -1.3px 1.3px 0 #ffcb05, 1.3px 1.3px 0 #ffcb05;
	border-bottom: solid 3px #3c5aa6;
	border-left: black solid 3px;
	border-right: black solid 3px;
	border-top: solid 3px #3c5aa6;
}
input[type=submit]:hover {
	color: #3c5aa6;
	background-color: black;
	text-shadow: -1.3px -1.3px 0 #ffcb05, 1.3px -1.3px 0 #ffcb05, -1.3px 1.3px 0 #ffcb05, 1.3px 1.3px 0 #ffcb05;
	border-bottom: solid 3px #3c5aa6;
	border-left: black solid 3px;
	border-right: black solid 3px;
	border-top: solid 3px #3c5aa6;
}

input[type=reset]:hover {
	color: #3c5aa6;
	background-color: black;
	text-shadow: -1.3px -1.3px 0 #ffcb05, 1.3px -1.3px 0 #ffcb05, -1.3px 1.3px 0 #ffcb05, 1.3px 1.3px 0 #ffcb05;
	border-bottom: solid 3px #3c5aa6;
	border-left: black solid 3px;
	border-right: black solid 3px;
	border-top: solid 3px #3c5aa6;
}



/* code CSS de la page score.html */


/*
      www.OnlineWebFonts.Com
      You must credit the author Copy this link on your web
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Pokemon";
    src: url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); /* iOS 4.1- */
}
html {
    background-color: black;
    font-family: Pokemon;
    color: #ffcb05;
    text-shadow: -1.3px -1.3px 0 #3c5aa6, 1.3px -1.3px 0 #3c5aa6, -1.3px 1.3px 0 #3c5aa6, 1.3px 1.3px 0 #3c5aa6;
    font-size: 1.5em;
    letter-spacing: 8px;
}
h1{
    font-size: 250%;
    text-align: center;
    margin-bottom: 60px;
    border: 0px;
    letter-spacing: 10px;
}
#DivTableScores{
    width: 50%;
    height: 960px;
    position: absolute;
    left: 26%;
    border: 
}S
table #tableScores{
    border-collapse: collapse;

}
th{
    font-size: 150%;
    text-align: center;
    font-style: bold;
    border-bottom: solid 4px #ffcb05;
    padding-right: 12px;
    padding-left: 12px;
}
tr{
    height: 70px;
}
td{
    width: 250px;
    text-align: center;
    padding-right: 12px;
    padding-left: 12px;
}

input{
    font-family: Pokemon;
    letter-spacing: 2.5px;
    font-size: 1em;
    color: #ffcb05;
    background-color: black;
    text-shadow: -1.3px -1.3px 0 #3c5aa6, 1.3px -1.3px 0 #3c5aa6, -1.3px 1.3px 0 #3c5aa6, 1.3px 1.3px 0 #3c5aa6;
    border-bottom: solid 3px #ffcb05;
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-top: solid 3px #ffcb05;
}
#buttonRejouer{
    position: fixed;
    left: 43%;
    top: 90%;
}
#ButtonAccueil{
    position: fixed;
    right: 43%;
    top: 90%;
}
input[type=button]:hover {
  font-family: Pokemon;
    letter-spacing: 2.5px;
    font-size: 1em;
    color: #3c5aa6;  
    background-color: black;
    text-shadow: -1.3px -1.3px 0 #ffcb05, 1.3px -1.3px 0 #ffcb05, -1.3px 1.3px 0 #ffcb05, 1.3px 1.3px 0 #ffcb05;
    border-bottom: solid 3px #3c5aa6;
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-top: solid 3px #3c5aa6;
}

